

/* ====================================================
MODULE
==================================================== */

/*パンくずMODULE*/
a{
	text-decoration: none;
	@include smooth-transition;
	&:hover{
		opacity: 0.7;
	}
}
strong{
	font-weight: bold;
}
.breadcrumb {
	
}

.ttl-heading{

}


/*見出しMODULE*/
.ttlCom01 {

}

.ttlCom02 {

}

.ttlCom03 {

}
.ttl_type01 {

}
.ttl_type02{

}
.ttl_type03{

}
/*テキストMODULE*/

.txt{
	&-basic{

	}
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
	&-left {
		text-align: left;
	}
}


/*リンクMODULE*/
.linkCmn {
	
}

/*ボタンMODULE*/
.btn {

}
.btn_type01{

}
.btn-type02 {
	display: block;
	width: 100%;
	max-width: 224px;
	background: #8E7351;
	@include font-size(22);
	font-weight: bold;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 22px 10px 16px;
}

/*リストMODULE*/
.listOption {
	
}

/*ボックスMODULE*/
.boxReading{
	
}

/*グリッドMODULE*/
.gridCom {
	
}

/*フォームMODULE*/
.dl.form dl,dt,dd {
	
}

.bg{
	&-green{
		background: #EDA289 !important;
	}
	&-gray{
		background: #7A7B78 !important;
	}
}

.hidden{
	display: none !important;
}

//STYLE BREADCRUMB
.breadcrumb{
	margin-bottom: 44px;
	.inner{
		padding: 0;
		a{
			@include font-size(14);
			color: #297ba6;
			text-decoration: underline;
			font-weight: bold;
		}
		span{
			@include font-size(14);
		}
	}
}