<footer id="footer">
	<div class="inner">
		<a href="" class="logo-footer">
			<img src="<%= RELATIVE_PATH %>img/common/logo-plat.png" alt="logo">
		</a>
		<ul class="menu-footer">
			<li class="item">
				<a href="">リンク</a>
			</li>
			<li class="item">
				<a href="">プライバシーポリシー</a>
			</li>
			<li class="item">
				<a href="">事業主</a>
			</li>
			<li class="item">
				<a href="">運営会社</a>
			</li>
			<li class="item">
				<a href="">取材のご依頼</a>
			</li>
			<li class="item">
				<a href="">サイトマップ</a>
			</li>
			<li class="item facebook-item">
				<img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="logo" width="23">
			</li>
		</ul>
	</div>
</footer>