<ul class="sidebar">
    <li>
        <a href="">
            <img src="<%= RELATIVE_PATH %>img/index/mail-contact.png" alt="img">
        </a>
    </li>
    <li>
        <div class="page">
            <img src="<%= RELATIVE_PATH %>img/index/page.png" alt="img">
        </div>
    </li>
    <li>
        <a href="">
            <img src="<%= RELATIVE_PATH %>img/index/searach-item.png" alt="img">
        </a>
    </li>
    <li>
        <img src="<%= RELATIVE_PATH %>img/index/img-demo.png" alt="img">
    </li>
</ul>